@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html{
    scroll-behavior: smooth;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}



/*tab css*/
 .tabs {
    width: 100%;
    display: block;
    margin: 40px auto;
    position: relative;
    }
    .tabs .tab {
    float: left;
    display: block;
    }
    .tabs .tab>input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    }
    .tabs .tab>label {
    display: block;
    padding: 6px 21px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: #4A83FD;
    }
    .tabs .content {
    z-index: 0;
    /* or display: none; */
    overflow: hidden;
    width: 600px;
    padding: 25px;
    position: absolute;
    top: 27px;
    left: 0;
    background: #303030;
    color: #DFDFDF;
    opacity: 0;
    transition: opacity 400ms ease-out;
    }
    .tabs>.tab>[id^="tab"]:checked+label {
    top: 0;
    background: #303030;
    color: #F5F5F5;
       
    }
    .tabs>.tab>[id^="tab"]:checked~[id^="tab-content"] {
    z-index: 1;
    /* or display: block; */
    opacity: 1;
     width: 100%;   
    transition: opacity 400ms ease-out;
    }
     table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding-left: 6px;
    }
    
    tr:nth-child(even) {
    background-color: blue;
    }
    .tab button {
       background-color: white;
       color:black;
       float: left;
       border: none;
       outline: none;
       cursor: pointer;
       padding: 14px 16px;
       transition: 0.3s;
    }
body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	background: #eee;
	height: auto;
}
h1 {
	font-weight: 400;
	font-size: 2.5rem;
	text-transform: uppercase;       
	margin: 0;
}
h2 {
	font-weight: 400;
	font-size: 1.2rem;
	text-transform: capitalize;
	margin: 0;
}
.icon{
    height: 50px;
    width: 50px;
    margin: 5px;
}
img {
	display: block;
	width: 100%;
}
main {
	max-width: 1000px;
	margin: auto;
	box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),  -30px 0px 40px rgba(0, 0, 0, 0.1);
}
#front {
	background: #fff;
}
#front-data {
	display: flex;
	flex: 0 1 40vw;
	height: 50vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
}
#front-data h2 {
	color: #888;
}
#front-image {
	background: url('../images/mobile/cover.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	flex: 0 1 60vw;
	margin: 0;
}

#front-image2 {
	background: url('../images/mobile/coverx.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 120vh;
	flex: 0 1 60vw;
	margin: 0;
}

#front-image3 {
	background: url('../images/mobile/cover%20v.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	flex: 0 1 60vw;
	margin: 0;
}
.button1 {
	padding: 0.5rem 2rem ;
	border: 1px #ccc solid;
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50px;
	text-decoration: none;
    background-color: white !important;
	color: #333;
    margin-left: 230px;
	transition: background 500ms ease;
}
.button {
	padding: 0.5rem 2rem;
	border: 1px #ccc solid;
	display: inline-block;
	margin: 2rem 0 0;
	border-radius: 50px;
	text-decoration: none;
	color: #333;
	transition: background 500ms ease;
}
.button:hover {
	background: #f4f4f4;
}
a:hover {
	background: #f4f4f4;
	font-style: bolder;
    
}
a{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: black;
	text-decoration: none;
	font-weight: 400;
}
#header {
	padding: 1.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}
#header h2 {
	border-left: dotted 1px #fff;
	border-right: dotted 1px #fff;
	display: inline-block;
	padding-right: 1rem;
	padding-left: 1rem;
}
.caption {
	padding: 0.8rem;
	text-align: center;
}

.caption2 {
	padding: 0.5rem;
	text-align: center;
	background: #333;
	color: #fff;
}
footer {
	text-align: center;
	padding: 2rem 1rem;
	margin: auto;
	color: #333;
}
footer h3 {
	font-size: 3rem;
	margin-bottom: 0;
}

/*======Top Slider=======*/

.slider-top{
    background: url(../images/mobile/1.jpg);
    background-size:cover;
    animation: slide 30s infinite;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

@keyframes slide{
    25%{
        background: url(../images/mobile/1.jpg);
        background-size:cover;
    }
    50%{
        background: url(../images/mobile/2.jpg);
        background-size:cover;
    }
    75%{
        background: url(../images/mobile/3.jpg);
        background-size:cover;
    }
    100%{
        background: url(../images/mobile/4.jpg);
        background-size:cover;
    }   
}





.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    height: 300px; 
}
/*navigation*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}

.logo a,.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}


/*-----Media Queries (768px)-----*/

@media (min-width: 768px) {
    
    #front {
        display: flex;
        height: 100%;
    }
    
    #front-data {
        height: 100vh;
    }
    
    #front-image {
        height: 100vh;
    }
    
    .header,.main-nav {
		display: flex;
	}
    
    .header {
        flex-direction: column;
        align-items: center;
    }
    
    .header{
        width: 80%;
        margin: 0 auto;
    }
    
    .icon{
        display: flex;
    }
    
    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }
    
    .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .slider-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }
    
    .slider-top{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .gallery-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }
    
    .gallery-item{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/*-----Media Queries (1024px)-----*/

@media (min-width: 1024px) {
.button {
	padding: 1rem 3rem;
}
    
    .header {
		flex-direction: row;
		justify-content: space-between;
	}
}

