extends layout

block content
  h1= title
     p 
  main
    #front
      #front-data
        #front-data-inner
          h1 Student Attendence Tracker
          h2 Online attendence tool for teachers
          a.button(href='#images')  Explore
      #front-image
    #images
      #header
        h2 Explore
      .slider-container
        .slider-top
