extends layout

block content
  main
  #main
    .login
      .login-header
        h1 Login
      form(action='/login' method='post')    
         .login-form
          h3 Username:
          input(type='text' placeholder='Username' name='username')
          br
          h3 Password:
          input(type='password' placeholder='Password' name='password')
          br
          input.login-button.button(type='submit' value='Login')
          br
    .error-page
      .try-again Error: Try again?
